.location-map {
    width: 200px !important;
}

body {
    background-color: #6497b1;
}

.card {
    margin-bottom: 20px;
}

.no-alert {
    display:none;
}

.btn {
    background-color: #03396c ;
}

.header-img {
    width: 50px !important;
}

.col-sm {
    
    margin-top: 50px !important;
}

.hide {
    display:none !important;
}

.units {
    font-size: 12px;
}


.card-width-normal {
    width: 18rem;
}

.card-width-large {
    width: 24rem;
}

.data {
    color: #005b96;
}