.location-map {
    width: 200px !important;
}

body {
    background-color: #6497b1;
}

.card {
    margin-bottom: 20px;
}

.no-alert {
    display:none;
}

.btn {
    background-color: #03396c ;
}

.header-img {
    width: 50px !important;
}